[2011-01-04 04:37] tj opened #1 "BOOYAH"
I can delete my private table.js thing I never finished now :D dopeee!

[2011-01-23 03:28] #1 closed, assigned to nobody

[2011-04-10 00:02] Marak opened #2 "Variable height rows?"
The rows seem to be stuck at a fixed height of one line atm? Any chance to add the ability to specify row height?

Perhaps add a wordwrap option for cells so if the content exceeds the width it will create a new line and increase the cell height?

[2011-06-19 11:10] Marak opened #5 "Add ability to colorize cell content without breaking padding"
:-(

Every-time I try to add colors to any of the contents of a cell, it messes up the padding. It's probably because the padding offset is calculated by the length of the cell's string content. If an ANSI color code has been applied to this content, the length of the string is no longer a "valid" way to calculate the padding offset since the ANSI escape codes don't output to the terminal...

Not

[2011-06-19 19:40] #5 closed, assigned to nobody

[2011-12-23 00:45] rauchg opened #8 "Fix escape sequences being counted towards length"

[2012-02-02 21:28] marcelklehr opened #10 "Alternative table character set for terminals not supporting Unicode"
A straightforward ASCII character set (for windows support, which doesn't support Unicode chars...)

[code]

_maybe put it in README_

[2012-10-20 09:41] izuzak opened #19 "Update package.json with new version and update on npm"
Please update the library so that npm install does an install of the latest version. The current version that npm installs throws errors on examples given in the docs (e.g. it throws an error on the cross table example).

I was about to file a bug report because of this error but then noticed that the bug is no longer present in the version on github (while it is till present on the version that i

[2012-10-21 18:20] #19 closed, assigned to nobody

[2013-01-18 15:14] Iristyle opened #21 "Extended characters seem to be counting as 2 characters"
I'm trying to use extended characters like `String.fromCharCode(0x2714)` ... which is the `✔`.

When doing so, this seems to goof up the length calculation in the table and my row is shifted over one space.

[2013-04-30 13:37] abrkn opened #26 "Right-aligned columns"
very useful for printing out numbers with decmials

[2013-09-05 18:38] charltoons opened #30 "Pushing "undefined" breaks in table.toString()"
When pushing using the array-per-row method, if one of the elements in the array is `undefined`, the table allows you to push it, but then will throw an error when `table.toString()` is called. The expected behavior that I would prefer is to just fill in the cell with space, but I guess a case could be made for throwing an error on the push.

I've written a test to demonstrate it; I'll write a fix

[2014-01-22 13:53] stevenvachon opened #35 "Auto text wrap support?"
Would be sweet.

[2014-02-05 11:15] hpoom opened #38 "console.table support for consistency with client side JS"
Now [Chrome](https://plus.google.com/+AddyOsmani/posts/PmTC5wwJVEc), has added
`console.table( data );`
and soon Firefox will add this too. Maybe we could change the syntax to support this for consistency across client and server side JS.

Move from:

[code]

To something like:

[code]

[2014-02-12 16:11] nherment opened #39 "option to disable terminal coloring"
Colors are nice but don't render well when used with automated systems and passed through non-terminal interface.

For example, during a build the generated table could end up in a text email or on a HTML field that does not parse colors.

[2014-03-09 00:41] mike-spainhower opened #41 "Always ignore color for column width calculation"
Even though `strlen` tries to account for terminal coloring (https://github.com/LearnBoost/cli-table/blob/master/lib/cli-table/utils.js#L79), it seems whenever I use `chalk.cyan('string')` cli-table treats the non-displaying color chars as real chars for the purposes of `colWidths`.  Whatever is particular about `chalk.cyan` needs to be ignored for width calculations.

[2014-03-31 15:12] JosePedroDias opened #43 "option to ommit lines between data rows"
One could want to have a line between the header and the data rows but opt out from lines between data rows (to be able to display more data in the same console).

Cheers!

[2014-04-22 21:07] dinooz opened #44 "I wonder if cli-table could be used to show a Web Layout to be build within a Framework..."

[2014-08-19 10:18] mdsb100 opened #47 "If content is Chinese then table will be chaotic."
[code]

[code]

[2014-08-20 09:54] #47 closed, assigned to nobody

[2014-11-10 14:27] stevenvachon opened #51 "column (and row?) spanning"
I'm trying to figure out how to best approach this.

I've been thinking about adding an `autoColSpan` that auto-spans columns to fit the total number of columns in the table:

[code]

While the above allows for overall simple list-based tables, it does not allow for individual control or rowspan.

Another approach is to do something similar to #42 with per-column config:

[code]

which can also be

[2014-11-12 12:19] icodeforlove opened #52 ".toHTML request"
It would be a nice addon for the scenario where you would like to email the table that node generates :).

The html `pre` tag doesn't always work for mobile email.

[2015-01-05 12:30] stevenvachon commented on #51
@jamestalmage awesome. I'll have to try it out soon.

@rauchg what do you think about accepting the rewrite?

[2015-01-05 16:19] rauchg commented on #51
As long as the tests pass, I'd be glad to review a PR

[2015-01-09 00:05] stevenvachon commented on #51
@jamestalmage would you be interested in making a PR with your rewrite?

[2015-01-14 07:00] jamestalmage commented on #51
It does pass the tests, and I'd be happy to submit as a PR. A couple potential problems though:

  1. I used mocha + chai for tests (I had to convert the original test suite). Currently my dependencies prevent supportting Node 0.6 or 0.8. I am not sure if earlier versions of those dependencies would allow for earlier versions of Node or not.
  2. I'd bet the current implementation is faster than m

[2015-01-14 15:11] stevenvachon commented on #51
@rauchg ^

I might be able to find some time in a few months to clean it up if it needs it. I have a few other side projects that are currently taking priority.

[2015-01-14 22:22] rauchg commented on #51
np

[2015-01-15 00:25] jamestalmage commented on #51
There are two tests that I modified:
  * [the first](https://github.com/jamestalmage/cli-table2/blob/master/test/original-cli-table-index-tests.js#L114) is a side-effect of rendering borders cell-by-cell. My implementation has some extra on/off color toggles in the border string - it should not impact the onscreen appearance.
  * [the second](https://github.com/jamestalmage/cli-table2/blob/master/

[2015-01-16 05:23] xavierchou commented on #35
+1

[2015-01-19 10:09] gajus commented on #35
+1

[2015-02-09 15:17] platbr commented on #30
same issue here

[2015-02-09 15:37] platbr commented on #30
I fixed it changing in /Users/user/Desktop/cli-table/lib/cli-table/index.js:182

[code]
with
[code]

[2015-02-22 01:33] qfox opened #58 "What about simplified border configuration?"
Yes, it's a sugar.

Depending on width/height of char map it will calculate automatically all properties for borders.
- outer border characters (3+ chars);
- padding characters (2+ chars);
- inner border characters (2 or 4+ chars).

For 3+ chars the first and last one are outer borders.
For 4+ chars the third char is inner border (cell delimiter).
etc.

Something like that (4x4):

[code]

[code]

[2015-03-19 02:24] tecfu commented on #35
I submitted a patch for this that renders tables fully responsive.
https://github.com/Automattic/cli-table/pull/59

Unit tests fail, however, because the hardcoded tests strings don't match to the responsive output.

[2015-03-26 17:37] Havvy opened #60 "index.js Line 78 is a no-op."
https://github.com/Automattic/cli-table/blob/master/lib/index.js#L78

This line does nothing. ASI adds a semicolon at the end, and that makes the line an expression statement, but since the expression has no side effects, it does nothing!

Perchance, are you missing an `=` sign there?

[2015-03-26 17:37] Sequoia opened #61 "stray line of code (Table.prototype.render)"
https://github.com/Automattic/cli-table/blob/master/lib/index.js#L78

[2015-03-29 20:37] chriszs commented on #43
Looked for this so I could make my table [GitHub flavored Markdown compatible](https://help.github.com/articles/github-flavored-markdown/#tables).

[2015-04-05 03:12] pm5 opened #62 "Column width miss-calculated for CJK characters"
It appears that columns widths are calculated and aligned based on string length of content, ignoring the fact that some characters, such as CJK, are double-width.

Here is an example showing where the precision is off:

![screen shot 2015-04-05 at 11 06 38](https://cloud.githubusercontent.com/assets/119645/6995584/25542d54-db84-11e4-98d4-55630062097d.png)

[2015-04-14 00:40] brycepj commented on #35
+1

[2015-04-14 16:12] eGavr opened #64 "Text alignment"
Hi! Thank you very much, very useful tool.

But I was confused about how to align the data in cells and rows, for example by center (I've read in README that it is possible, but I did not find how).

[2015-04-17 16:12] veltman opened #65 "Chokes on null values"
A cell containing `null` as the value throws an error (`TypeError: Cannot read property 'toString' of null`).  I'm not sure whether a more sensible default would be to stringify it to an empty string or to the string `null` but it seems like either would be preferable to an error.

[2015-04-21 15:35] raine opened #66 "Truncate a specific column if table width would otherwise exceed term width"
Is there a way support for this?

[2015-05-14 03:26] xixilive commented on #62
[code]

https://github.com/Automattic/cli-table/blob/master/lib/utils.js#L79

[2015-05-15 04:13] xixilive commented on #62
you can use this fork currently

https://github.com/xixilive/cli-table

[2015-05-28 21:53] raine commented on #65
stringifying to null makes sense

[2015-05-28 22:25] raine commented on #65
doh. this is already fixed but not released on npm.

and it uses empty strings, i'd much prefer "null"

[2015-05-29 06:37] raine opened #69 "Publish a new version"

[2015-05-29 06:39] raine commented on #39
You could also use a module like [strip-ansi](https://www.npmjs.com/package/strip-ansi)

[2015-05-29 12:24] stevenvachon commented on #39
colors.js has a `stripColor()` https://github.com/Marak/colors.js/blob/master/lib/colors.js#L45-L47

[2015-06-06 17:20] raine opened #70 "undefined/null values are printed as very wide"
[code]

[code]

I wonder what the rationale here was,

https://github.com/Automattic/cli-table/commit/fe6cbc199fdabcf3c31acb6f63c75cd1ccb1954c

[2015-06-06 17:34] stevenvachon commented on #70
[code]

[2015-06-06 17:37] stevenvachon commented on #70
Err, sorry, this: [utils.js#L81](https://github.com/Automattic/cli-table/blob/fe6cbc199fdabcf3c31acb6f63c75cd1ccb1954c/lib/cli-table/utils.js#L81)

[code]

[2015-06-06 18:31] raine commented on #70
So a fix could be?

[code]

[2015-06-06 18:35] stevenvachon commented on #70
A micro-optimization might be `(str != null ? str : '')`, but yeah, looks good to me.

[2015-06-10 15:10] puritys opened #72 "Install cli-table is failed."
Error message:
npm ERR! Linux 3.10.0-229.el7.x86_64
npm ERR! argv "node" "/usr/local/bin/npm" "install" "cli-table" "--save"
npm ERR! node v0.12.1
npm ERR! npm  v2.11.1

npm ERR! shasum check failed for /tmp/npm-5519-25fd97d9/registry.npmjs.org/colors/-/colors-1.0.3.tgz
npm ERR! Expected: 0433f44d809680fdeb60ed260f1b0c262e82a40b
npm ERR! Actual:   5996ece2af528700f64e9794429fe8a7a594fd14
npm ERR!

[2015-06-17 00:32] heycalmdown commented on #62
+1

[2015-06-17 00:36] heycalmdown commented on #62
@rauchg accept this PR plz

https://github.com/xixilive/cli-table/commit/ea9fe609a20e560aea089f9b0044669dbc9ff397

[2015-06-23 03:27] Rykka commented on #62
exactly!

[2015-06-26 08:16] tecfu commented on #35
Support for automatic text wrapping has been added in the following fork:

https://github.com/tecfu/cli-table

[2015-07-06 15:26] tecfu commented on #35
Also, since pull requests are being ignored here and I found the code unmaintainable I created an alternative that supports automatic line wrapping with colors, padding, alignment, and callbacks.

https://github.com/tecfu/tec-table

[2015-07-08 21:11] tecfu commented on #64
Like so:

[code]

And for a better terminal table option, I suggest tty-table - even though it isn't massively starred.

https://github.com/tecfu/tty-table

[2015-07-08 21:13] tecfu commented on #64
I suggest using a different package for alignment support.

My package, tty-table allows you to specify the alignment for both column headers and values - separately if desired.

https://github.com/tecfu/tty-table

[2015-07-09 02:05] SidBala commented on #72
Hitting same issue.

[2015-07-14 01:29] chrisvfritz opened #74 "Option to turn off colors"
I'd love an option to turn off colors. I'd like to use this for the hubot of a Slack channel, but the colorization seems extremely resistant to removal. I've tried all of these:
- `/(\x03\d{0,2}(,\d{0,2})?|\u200B)/g`
- `/[\x0F\x02\x16\x1F]/g`
- `/\x1b\[.\{1,5\}m/g`

But I still see `[90m`, `[39m`, `[31m`, etc throughout the table. :confused:

[2015-07-14 01:38] chrisvfritz commented on #74
Seems like `--no-color` seems to work, though that disables color for all log output, rather than the table sent to Slack.

[2015-07-15 19:11] tecfu commented on #74
This project doesn't seem to be maintained anymore, in spite of its popularity.

I've written a similar utility that allows you to control colors on a more granular level.
See: https://github.com/tecfu/tty-table

[2015-07-16 00:23] chrisvfritz commented on #74
Thanks for pointing this out! I'll check it out.

[2015-07-20 16:31] rafaelrinaldi commented on #74
:+1: for this. `cli-table` is a dependency of a module I'm running on PhantomJS's context and `colors.js` is complaining about not having `process` available. I had to remove `cli-table` because of that.

[2015-07-20 23:10] jamestalmage commented on #74
If you are just looking to have colors not screw up your table, the [cli-table2]:[cli-table2].
It's 100% API compatible with this library, and passes the entire unit test suite (with the exception of a single formatting test that I felt formatted the text incorrectly).
In addition to handling colors, it also has some [additional features][cell-spanning] including vertical/horizontal cell-spanning.

[2015-07-20 23:31] jamestalmage commented on #74
@rafaelrinaldi
[cli-table2] also offers a means of [disabling colors], if that is what you need.

[cli-table2]:https://github.com/Automattic/cli-table/issues/github.com/jamestalmage/cli-table2
[disabling colors]:https://github.com/jamestalmage/cli-table2/blob/master/basic-usage.md#basic-usage---disable-colors---used-often-in-the-examples-and-tests

[2015-07-20 23:38] jamestalmage commented on #70
check out [cli-table2], it is 100% API compatible with this library and passes the test suite from this codebase with [one exception directly related to this issue][undefined-formatting]. There are additional benefits as well, read the docs for more info.

[cli-table2]:https://github.com/jamestalmage/cli-table2
[undefined-formatting]:https://github.com/jamestalmage/cli-table2/blob/master/test/orig

[2015-07-20 23:40] jamestalmage commented on #64
Also see [cli-table2](https://github.com/jamestalmage/cli-table2), it's 100% API compatible with this library.

[2015-07-20 23:47] jamestalmage commented on #41
[cli-table2][https://github.com/jamestalmage/cli-table2] does what you are looking for

[2015-07-20 23:49] jamestalmage commented on #30
[cli-table2](https://github.com/jamestalmage/cli-table2) allows colspans.
(not with the api you mentioned, but colspans nonetheless)

[2015-07-20 23:50] jamestalmage commented on #2
see [cli-table2](https://github.com/jamestalmage/cli-table2)

[2015-07-21 00:15] SpainTrain commented on #41
Awesome, thanks for the heads up!  I assume this project has been abandoned `V_V`

[2015-07-21 02:31] rafaelrinaldi commented on #74
@jamestalmage That's interesting, thanks for pointing out. Let's hear what the maintainers of this project has to say...
In the meantime I will give `cli-table2` a try :)

[2015-07-24 18:12] #70 closed

[2015-08-11 20:53] jacksondc commented on #64
Why is text alignment on the list of features if it isn't supported?

[2015-08-11 21:13] nodesocket opened #76 "Add bottom padding between vertical table elements"
How can I add some **bottom padding** between each vertical table element?

[2015-08-11 21:18] nodesocket commented on #74
This works:

[code]

[2015-08-14 08:49] zhangtao07 opened #77 "table display not right in window8 and linux"
whatever in windows or linux ,the table is not right.

![baiduhi_2015-8-14_16-44-22](https://cloud.githubusercontent.com/assets/4675923/9270425/4f871078-42a4-11e5-9c5b-06159e0d6847.png)

and Horizontal Tables is totally crash:

![image](https://cloud.githubusercontent.com/assets/4675923/9270437/6b8826c2-42a4-11e5-9a59-a337f1d6de4b.png)

[2015-08-18 20:18] glennblock opened #78 "Support streaming results / incrementally adding rows"
I am using cli-table in my new splunkrepl cli (https://www.npmjs.com/package/splunkrepl). One of the things popular in the Splunk world is streaming results, and some of those results display in tables. It would be nice to be able to output the results as they come in, ie progressively rendering the table as currently I wait until all results are in before I render.

If this is doable today, I'd b

[2015-08-19 05:34] ewnd9 commented on #78
Did you consider something like below?

[code]

[2015-09-09 03:01] fritx commented on #77
+1 for this.. not work in Windows (win7)

![image](https://cloud.githubusercontent.com/assets/6647633/9752396/233f6c8e-56e2-11e5-8e16-89a35aeb4b01.png)

[2015-09-14 23:42] gajus opened #79 "Consider deprecating in favour of "table" package"
I have written a library for displaying data in a table.

https://github.com/gajus/table

This package implements all features of `cli-table` and addresses some of the open issues:
- https://github.com/Automattic/cli-table/issues/35
- https://github.com/Automattic/cli-table/issues/8
- https://github.com/Automattic/cli-table/issues/10
- https://github.com/Automattic/cli-table/issues/64

Consider [d

[2015-09-15 00:23] stevenvachon commented on #79
Cool. Does it also have truncation like cli-table?

[2015-09-15 00:32] gajus commented on #79
@stephanethomas I cannot see the definition of "truncation" in the docs beyond brief statement in the "features" section ("Text truncation based on predefined widths"). If thats a generic truncation of a string in a column, then that falls outside of the "table" formation scope. I suggest you to use a utility function to format data before passing to the table, e.g. [`_.trunc`](https://lodash.com/

[2015-09-15 00:34] stevenvachon commented on #79
truncation with ellipsis: "this is a long sentence" would become "this is a…"

[2015-09-15 00:39] gajus commented on #79
Do you it is the responsibility of the table formation library to truncate the data?

[2015-09-15 02:40] stevenvachon commented on #79
Not necessarily, but it is convenient and creates would have familiarity with cli-table.

[2015-09-15 09:45] jamestalmage commented on #79
http://github.com/jamestalmage/cli-table2 does [truncation](https://github.com/jamestalmage/cli-table2/blob/master/advanced-usage.md#multi-line-content-will-flow-across-rows-in-rowspan-cells---complex-layout).

Also has [colspan](https://github.com/jamestalmage/cli-table2/blob/master/advanced-usage.md#use-colspan-to-span-columns---colspan-below-normal-cell) and [rowspan](https://github.com/jamesta

[2015-09-15 10:29] gajus commented on #79
@jamestalmage cli-table2 is quite nice. If I had known about it, I'd probably skipped developing `table` altogether.

I am thinking I pushed `table` logic a notch too far. Having static column widths (as in `cli-table` and `cli-table2`) makes the code logic considerably less complicated. Supporting colspan and rowspan using dynamic widths wouldn't be easy.

[2015-09-15 10:51] jamestalmage commented on #79
@gajus Thank you!

Sorry I haven't promoted it better :disappointed:

I do [make an attempt](
https://github.com/jamestalmage/cli-table2/blob/master/advanced-usage.md#a-column-with-a-null-column-width-will-be-automatically-widened-to-fit-content) to support dynamic widths, but it is limited. There is no way to set which column takes priority if there is contention for screen width, nor a way to se

[2015-09-15 13:06] stevenvachon commented on #79
cli-table2 needs to be cleaned up, though ;) you had said it yourself, @jameskoster

[2015-09-15 13:14] gajus commented on #79
@stevenvachon Please create an issue on https://github.com/gajus/table regarding the ability to truncate content. I will update README.md to reflect the requirement.

[2015-09-15 13:58] gajus commented on #76
How would that look?

[2015-09-15 13:59] gajus commented on #78
@ewnd9 approach seems correct. In addition, consider using something like https://github.com/trentm/node-bunyan, which is designed for handling streams (although output is not in a tabular format).

[2015-09-15 20:29] glennblock commented on #78
You think splitting a large table over and over is a good solution? That
seems pretty expensive especially for a large table.

On Tue, Aug 18, 2015 at 10:34 PM ewnd9 <notifications@github.com> wrote:

[2015-09-15 20:30] glennblock commented on #78
Thanks for the tip regardless :-)
On Tue, Sep 15, 2015 at 1:29 PM Glenn Block <glenn.block@gmail.com> wrote:

[2015-09-15 21:51] ewnd9 commented on #78
@glennblock hard to say without benchmarks. You could always implement something like table rotation on every n-th chunk of stream in case of low perfomance

[2015-09-15 21:58] gajus commented on #78
Sorry, I have actually misread the example. You don't need to render the entire table every time. A lot simpler would be to simply render a single row. I am sure cli-table or cli-table2 supports that. If not, have a look at https://www.npmjs.com/package/table.

[2015-09-16 01:14] glennblock commented on #78
@ewnd9 yeah I am just imagining the scenario where one is streaming tons and tons of events. It seems completely wasteful and slow to have an infinitely growing / continually string concatenated table.

[2015-09-19 04:00] jamestalmage commented on #79
@stevenvachon
There are [improvements I want to make](https://github.com/jamestalmage/cli-table2/issues/3), and I mentioned a [few issues](https://github.com/Automattic/cli-table/issues/51#issuecomment-69876817) that prevent completely deprecating this implementation for mine. I have never said "it needs to be cleaned up", or that it was not production ready. It has 100% test coverage, and fixes i

[2015-09-20 22:31] stevenvachon commented on #79
All I know regarding code cleanliness is that https://github.com/Automattic/cli-table/issues/51#issuecomment-69876817 contains

[2015-09-28 10:32] destec opened #80 "How could I use newline characters?"
Sorry for mistaking the repo. Please close this issue!

[2015-09-29 13:13] #80 closed

[2015-10-04 19:55] gajus commented on #79
V3 released:

* Added [text truncation](https://github.com/gajus/table#table-usage-text-truncation) as requested by @stevenvachon.
* Added documentation about [text wrapping](https://github.com/gajus/table#table-usage-text-wrapping).
* Removed minWidth, maxWidth properties in favour of a single property width.
* Added style for [borderless table](https://github.com/gajus/table#borderless-table).
*

[2015-10-08 23:31] gajus commented on #79
Implemented streaming.

https://github.com/gajus/table#table-usage-streaming

[2015-10-09 01:28] stevenvachon commented on #79
Wow, that streaming gif is enticing.

[2015-10-19 17:11] gajus commented on #79
Implemented [word wrapping](https://www.npmjs.com/package/table#table-usage-text-wrapping), e.g.

Without `wrapWord`:

[code]

with `wrapWord`:

[code]

[2015-10-19 17:12] stevenvachon commented on #79
Hypenated? :) awesome work

[2015-10-19 17:12] stevenvachon commented on #79
Hypenated? :) awesome work

[2015-12-18 02:26] goorockey opened #81 "Table doesn't display well in Windows cmd"
![cli-table](https://cloud.githubusercontent.com/assets/1220971/11887687/981d65e6-a571-11e5-8a09-55142e7812aa.png)

The columns don't align well because of the difference width of space and '─'.

[2015-12-29 09:44] seriousManual commented on #74
@jamestalmage thanks for pointing out the 'no-color' option at cli-table2!

[2016-01-07 10:27] runemadsen commented on #81
I'm getting the following by copy/pasting the example code on 10.10.5 and node 4.2.0:

![screen shot 2016-01-07 at 11 26 40 am](https://cloud.githubusercontent.com/assets/192021/12168312/9d42cf3c-b531-11e5-8fd3-987e23a18b04.png)

[2016-01-17 03:10] magicdawn opened #82 "Any strategy for handle other languages displays?"
e.g Simplified Chinese (as 简体中文)

![image](https://cloud.githubusercontent.com/assets/4067115/12375706/8d66d62c-bd0a-11e5-9307-76cd7f0b6edd.png)

And for simplified chinese, test with unicode `\u4E00－\u9FA5`, should double the length, then it will display well.

[code]

BTW, I'm using the [Hack](https://github.com/chrissimpkins/Hack) Font for display.

[2016-01-17 03:26] magicdawn commented on #82
After https://github.com/magicdawn/cli-table/commit/65d1857e82df461dfaffaf611f19133a46c74425 it displays well for chinese. but what about other languages ?

[2016-03-16 14:09] elfet opened #84 "Add support for working with pipes."
From cli:

[code]

[2016-03-17 02:31] fritx commented on #81
same prob: #77

[2016-03-17 02:32] fritx commented on #77
![image](https://cloud.githubusercontent.com/assets/6647633/13834616/6d6cc87c-ec2b-11e5-991b-8d780f08d022.png)

[code]

[2016-04-03 12:52] ijse commented on #65
It seems that still not released on npm.

[2016-04-10 01:00] ORESoftware commented on #79
Does it have multi-line rows? Looking for that feature in an ascii/unicode table now...

[2016-05-31 23:26] tecfu commented on #84
You can do this with [tecfu/tty-table](https://github.com/tecfu/tty-table).

Try:

[code]

Docs [here](https://github.com/tecfu/tty-table/blob/master/docs/terminal.md).

You can also view a continuous stream in the terminal with tty-table, using:

[code]
![terminal-streaming](https://cloud.githubusercontent.com/assets/7478359/15693685/15354268-274c-11e6-9fe4-0b97ce57e46a.gif)

[2016-05-31 23:44] tecfu commented on #79
@ORESoftware

[tty-table](https://www.github.com/tecfu/tty-table) handles multi-line rows out of the box. It also has a [drop-in adapter automattic/cli-table](https://github.com/tecfu/tty-table/blob/master/docs/automattic-cli-table.md).

[code]

![tty table](https://cloud.githubusercontent.com/assets/7478359/15693270/c901a0ce-2748-11e6-8fcb-e946b6c608f1.png "tty-table")

[2016-06-01 00:21] tecfu commented on #65
[tty-table](https://www.github.com/tecfu/tty-table) handles null values out of the box. It also has a [drop-in adapter automattic/cli-table](https://github.com/tecfu/tty-table/blob/master/docs/automattic-cli-table.md).

[code]

[2016-06-01 06:09] gajus commented on #79
How exactly is this better than "table" package?

[2016-08-02 01:14] olalonde opened #89 "Relative column widths?"
It would be nice to be able to specify percentages as column width. cli-table could find out the term width and chose an absolute width at run time.

[2016-08-11 08:19] hisune opened #90 "How to display the table without a new line?"
I want to overide the table with new data.

[2016-08-11 09:49] hisune commented on #90
https://github.com/substack/node-charm
Work perfect with `cli-tab`

[2016-08-11 09:49] #90 closed

[2016-09-19 11:10] thisconnect opened #91 "is cli-table still maintained?"

[2016-09-21 20:54] BitwiseGuy commented on #91
It doesn't appear so. The documentation is terrible.

[2016-09-23 19:52] robogeek commented on #65
Hurm... I'm seeing the same behavior.. am not using cli-table directly because it's used in csvwriter.

In any case, I have an object:

[code]

Notice the field with the undefined value.

I put a couple print statements in the cli-table source, and got this output showing it bombs on `undefined.toString()`

[code]

[2016-09-23 19:52] robogeek commented on #65
BTW - that this has been an open issue for a year and a half is troublesome

[2016-10-08 06:43] felquis commented on #91
@automattic-challenges how can I use?

[2016-10-11 04:49] felquis commented on #91
Fixed my comment, how can I help

[2016-10-11 07:45] thisconnect commented on #91
btw automattic is not automattic-challenges, automattic is an org

[2016-10-23 17:25] roccomuso commented on #89
+1

[2016-10-23 17:25] roccomuso commented on #91
+1

[2016-11-05 14:12] tecfu commented on #91
I've written a backwards compatible package called <a href="https://github.com/tecfu/tty-table">tty-table</a>. It has all the features that cli-table does and can even use the same API with an adapter.

Plus its maintained.

[2016-11-07 09:03] zoltan-nz commented on #91
An actively maintained successor: [cli-table](https://github.com/jamestalmage/cli-table2) 2

[2016-11-20 15:23] magicdawn commented on #82
Time flies and Problems remains 😂

[2016-11-25 06:04] zhangqingyv commented on #82
same problem

<img width="568" alt="qq20161125-0 2x" src="https://cloud.githubusercontent.com/assets/6878741/20615793/02551bde-b318-11e6-9394-6a364d504d1a.png">

[2016-11-25 06:22] magicdawn commented on #82
I have a PR at #92, but looks like the project is not maintained any more, see package.json deps,
the mocha's old name expressso list there :joy

[2016-11-25 21:16] tecfu commented on #82
Use [tty-table](https://www.github.com/tefu/tty-table) instead. It has built-in support for unicode characters.

[2017-01-09 01:40] HansHammel opened #93 "please add a license (vaild SPDX identifier) to your package.json"

[2017-01-10 18:48] dasilvacontin opened #94 "Pushed items are never typechecked"
[code]

When doing `table.toString()` it'd be nice to get a "You should only push Arrays into the table" or smth, instead of getting this exception.

[2017-02-25 05:47] sabakugaara opened #96 "unicode string format error, eg: chinese character"
Maybe should `wcwidth`, not `string length` to calculate padding

[2017-02-25 06:01] sabakugaara commented on #96
PR: https://github.com/Automattic/cli-table/pull/97

[2017-03-01 03:42] #84 closed

[2017-03-09 15:35] irbrad opened #98 "default border color not visible on PuTTY"
The default border color (grey) does not show on PuTTY since it uses the same color as the background color in the terminal emulator.

Before:
![image](https://cloud.githubusercontent.com/assets/1220715/23757150/00257834-04b4-11e7-998f-4069cb4de9c2.png)

After:
![image](https://cloud.githubusercontent.com/assets/1220715/23757173/0ef1bf80-04b4-11e7-8e50-35a9009520b0.png)

[2017-03-10 02:02] tecfu commented on #98
You can set custom colors using tecfu/tty-table and still retain the automattic/cli-table API if you wish.

[2017-04-02 03:51] Wonay opened #100 "color"
is it possible to have a row / cell with a specific color ?

[2017-05-30 19:47] tecfu commented on #100
It is in [tty-table](https://github.com/tecfu/tty-table), which is backwards compatible with cli-table.

[2017-05-30 22:53] Wonay commented on #100
thx

[2017-05-30 22:53] #100 closed

[2017-06-27 14:04] JulienPalard commented on #65
Two year birthday for this issue! Just got bitten (using null as a default value of a pm2 module…).

[2018-01-27 10:35] jacobbogers commented on #81
Will this be fixed??

[2018-01-27 10:36] jacobbogers commented on #77
Why is this an issue for windows? can someone comment, can this be fixed??

[2018-03-02 09:25] orangeyyy commented on #96
this problem is worth to fix

[2018-03-02 21:13] rus0000 opened #103 "change"

[2018-03-03 04:01] sabakugaara commented on #96
seems, repo is not maintained

[2018-03-05 01:57] tecfu commented on #96
github.com/tecfu/tty-table has support for Chinese characters.

[2018-05-01 14:12] joshbetz opened #106 "Tests are broken on Travis"
The tests pass locally for me, but looks like they're broken on Travis.

[2018-05-01 14:28] #106 closed

[2018-05-01 14:31] #91 closed

[2018-05-01 14:32] joshbetz commented on #74
#95 should fix it

[2018-05-01 14:32] #74 closed

[2018-05-01 14:33] #96 closed

[2018-06-01 02:18] ahkimkoo commented on #62
中文字长度不对的问题，我改了一个，重新发布模块为cli-table-ext
https://github.com/ahkimkoo/cli-table

[2018-06-01 21:44] tecfu commented on #62
Or you can use [tty-table](https://github.com/tecfu/tty-table), which is backwards compatible with this syntax but adds features.

[2018-06-14 03:51] boxsnake opened #108 "Wide character support"
This does not treat wide chars in CLI correctly. It assume each wide-char as one-char width, but actually it takes two char's span.

[2018-06-14 18:55] tecfu commented on #108
This is a known issue. For a working implementation using the same syntax as cli-table, you can use [tty-table](https://github.com/tecfu/tty-table).

[2018-07-14 18:43] ORESoftware opened #109 "Change header color"
In the readme it says:

fantastic. but nowhere does it explain how to change the header color? Right now I have a cli table where the header has red text, looking to change it to a different color.

[2018-07-14 18:47] ORESoftware commented on #109
I intsalled the typescript typings for cli-table.

[code]
the typings suggest that "colors" is a boolean argument. Yet false does not turn-off colors in the header.

fml.

but I don't actually want to turn off colors, I just want to change the header color.

[2018-07-14 23:57] tecfu commented on #109
Checkout an [example](https://github.com/tecfu/tty-table/blob/master/examples/styles-and-formatting.js) of how to change the header color with [tty-table](github.com/tecfu/tty-table). Its backwards compatible with this package.

[2018-07-15 00:30] ORESoftware commented on #109
@tecfu thanks, what do you mean by backward compatible? You mean I can use the example code from cli-table?

Also, this is weird:
https://github.com/tecfu/tty-table/blob/master/examples/styles-and-formatting.js#L7

why wouldn't headerColor be an argument here instead:
https://github.com/tecfu/tty-table/blob/master/examples/styles-and-formatting.js#L70

[2018-07-15 00:35] tecfu commented on #109
You can use their API like so:

[code]

[2018-07-15 00:39] tecfu commented on #109
https://github.com/tecfu/tty-table/blob/master/examples/styles-and-formatting.js#L7
why wouldn't headerColor be an argument here instead:
https://github.com/tecfu/tty-table/blob/master/examples/styles-and-formatting.js#L70

You would pass headerColor to the column if you wanted to change it just for that column.
You would pass headerColor in the options object to change it for all columns.
You wou

[2018-07-15 01:04] ORESoftware commented on #109
@tecfu thanks tbh I will probably try out cli-table2 next

[2018-07-24 19:43] Paxa commented on #109
Looking at the code (without changing a package):
[code]

[2018-09-05 22:49] ORESoftware opened #110 "Examples dir is empty"
Looks like this dir hasn't been touched in 5 years:
https://github.com/sorensen/ascii-table/tree/master/example

might be nice to delete it or update it, thx

[2018-09-20 07:27] chrean commented on #109
If the above solution is accepted, I'd go ahead and close this issue.

[2018-09-20 07:27] #109 closed

[2018-09-20 07:57] chrean opened #112 "Automate using version from package.json"
As discussed in https://github.com/Automattic/cli-table/pull/111 , we should take a step further and automate using version number from package.json instead of `require`ing which is non optimal.

[2018-09-20 08:01] LoganDark commented on #112
You could have a simple build process where you rename `lib` to `src` and simply have an NPM script that copies them over and replaces the version number with the correct one.

[2018-09-20 08:03] chrean commented on #112
I think we already do something similar for some of our repos, I will look into that.
Thank you for suggestions! 🎉

[2018-09-20 08:04] LoganDark commented on #112
Yeah, we could use something simple like `sed`. Nothing complicated.

[2018-09-20 08:08] chrean commented on #112
If you want to help with this task, you are welcome. :)

[2018-09-20 08:09] LoganDark commented on #112
Sure, I can open another pull request. I actually have an idea of how it'll be done... you'd just need `sed` (for text replacement) and `jq` (for CLI parsing of the package.json). Does that sound like it would be acceptable?

[2018-09-20 08:10] GaryJones commented on #110
@ORESoftware Thanks for posting.

How is the example directory in that repo, related to this `cli-table` repo?

[2018-09-20 08:11] chrean commented on #112
Yup, sounds fine to me.

[2018-09-20 08:12] LoganDark commented on #112
Alright, I guess I'll be going the CLI route then. I'll create a pull request in a few hours, right now I'm watching a movie :)

[2018-09-20 08:17] GaryJones commented on #61
This would appear to be fixed by https://github.com/Automattic/cli-table/pull/54 ?

[2018-09-20 08:19] GaryJones commented on #69
While a new version is definitely warranted, after some fixes, I don't think opening a separate issue with just a title is going to convince the maintainers to do it :-)

[2018-09-20 08:39] GaryJones commented on #10
Feel free to open a PR to add notes to the readme :-)

[2018-09-20 16:39] #61 closed

[2018-09-20 17:43] ORESoftware commented on #110
sorry my bad I think I filed this ticket in the wrong repo

[2018-09-20 19:18] GaryJones commented on #110
@ORESoftware No problem - please go ahead and close this then :-)

[2018-09-20 21:48] #110 closed

[2018-09-20 21:49] ORESoftware commented on #110
ningún problema

[2018-09-23 10:35] #98 closed

[2018-09-23 10:37] chrean commented on #98
Fixed with: https://github.com/Automattic/cli-table/pull/99 .

A color theme switch would be preferred, though.

[2018-09-23 15:04] chrean opened #115 "Add color theme switch"
Add a color theme switch like how colors.js has --no-color. --light-color and --dark-color.

Originally suggested here: https://github.com/Automattic/cli-table/pull/99

[2018-10-16 04:08] mesqueeb opened #116 "How to import using require()"
I'm making a node app so I need to use `require()` because I get errors on `import`.
When I try to `require('cli-table')` I get this error:

[2018-10-16 04:28] #116 closed

[2018-10-16 04:28] mesqueeb commented on #116
It was my mistake, unrelated to `require()`.
I missed a `,` in an array pushed to table.

[2018-11-11 03:13] YouTwitFaceTG commented on #39
@stevenvachon seems it changed and is now https://github.com/Marak/colors.js/blob/master/lib/colors.js#L55-L57

[2018-11-11 17:43] stevenvachon commented on #39
@YouTwitFaceTG It doesn't matter now that there's [table](https://npmjs.com/table)

[2018-12-05 06:17] ChristianGrieger opened #117 "Test output failed"
Hey all,

I included cli-table into my project and tried an output but I get this result. Any idea why it happens?

<img width="645" alt="bildschirmfoto 2018-12-05 um 07 15 48" src="https://user-images.githubusercontent.com/8712219/49493805-be1cb700-f85d-11e8-8ed4-f504ca13b576.png">

Thank you!

[2018-12-29 01:55] rdotg opened #118 "Cannot create a text link within a table"
When trying to create a text link within a table with a package like [terminal-link](https://www.npmjs.com/package/terminal-link) it does not work but strips out the needed formatting.

The call with terminal-link looks like: `terminalLink('My link', 'https://google.com')`. This works in some of the more popular terminals like iTerm and [others](https://gist.github.com/egmontkob/eb114294efbcd5adb1

[2019-01-01 18:39] harrysarson commented on #69
I published: https://www.npmjs.com/package/@harrysarson/cli-table so I could use the package as is. :)

[2019-01-10 17:05] adadgio commented on #30
This issue shouldnt be closed, it still exists: `TypeError: Cannot read property 'toString' of null` because of undefined values

[2019-01-18 21:36] TamimiGitHub commented on #65
This is still not published on npm. Any plans?

[2019-01-18 22:57] TamimiGitHub commented on #65
Thanks @tecfu this looks better - will try it out and contribute

[2019-02-01 00:07] zarubto4 commented on #26
Yea, really good idea show it in readme..

[2019-02-21 16:58] StreetStrider commented on #109
I second this.
According to code, `colors` option is ignored when it goes to header rendering.

[2019-02-21 17:01] StreetStrider commented on #109
Workaround is `style: { head: [ 'reset' ] }`, but I would love to see the fix.

[2019-03-03 11:49] adadgio commented on #65
Still having the issue ! ... :p

[2019-03-25 05:59] m-sureshraj commented on #118
Encountered the same issue on v0.3.1

![image](https://user-images.githubusercontent.com/12813750/54897727-94ac9780-4eef-11e9-8067-e1b3e109939e.png)

Increasing the column width render the link properly but it breaks the table formatting.

![image](https://user-images.githubusercontent.com/12813750/54898124-03d6bb80-4ef1-11e9-9de8-0101a824e267.png)

[2019-05-20 20:00] george-norris-salesforce opened #119 "Runkit exampe not working"
The example on npm / Runkit is not working. Require causes error.

[2019-08-19 14:14] opichals opened #120 "missing npm release with the master fixes"
The last release was 5 years ago and at least a release adding the license file should be released in order to make this lib legally correct.

[2019-11-12 13:56] tecfu commented on #118
Links work fine in [tty-table](https://github.com/tecfu/tty-table).

[2020-03-11 18:00] alexlee-dev commented on #118
Any update on this issue? Still a problem for me and it's stopping me from using cli-table.

@tecfu above simply put a link to his competitor application which apparently does links ok.

[2020-07-22 20:11] eduardo-ehsc opened #122 "Doesn't work very well with gluegun"
Hi, so I was working in a project with the Gluegun framework (__CLI framework__), searching for ways to display a table in the command prompt, then a installed cli-table, but I dont know what happened and the gluegun somehow got affected and doesn't work in my project anymore, so I had to undo some commits.

Please fix this error, it would be nice to use this dependency with Gluegun framework.

[2020-10-02 15:59] panlina commented on #65
Still an issue in 2020. Seems this library is abandoned.
@raine are you going to take any action on this library?

[2020-10-02 16:34] raine commented on #65
No. Use an alternative that is not abandoned.

[2020-11-21 22:51] kmturley opened #123 "TypeScript support"
According to GitHut, TypeScript is now the #5th most popular language on github:
https://madnight.github.io/githut/#/pull_requests/2020/3

Can you either add types directly to the package or update documentation on how to do it manually?

[code]

You'll save every developer 10 minutes :)

[2020-12-06 12:44] chrean commented on #123
Good suggestion @kmturley . A PR would be even more welcome if you feel like you want to contribute. :)

[2020-12-06 13:51] chrean commented on #122
Hi @eduardo-ehsc , would be awesome if you could add some informations on what error(s) you are seeing, how to reproduce, etc.

[2020-12-06 13:57] chrean commented on #120
0.3.2 is out. Closing.

[2020-12-06 13:57] #120 closed

[2020-12-06 14:10] ycjcl868 opened #128 "The engine "node" is incompatible with this module"
## Expected/Desired Behavior

Fill with either one:

1. Expected behavior for bugs
1. Desired behavior for improvements/enhancements

## Actual Behavior

error cli-table@0.3.2: The engine "node" is incompatible with this module. Expected version ">= 12.13.0". Got "10.19.0"

## Steps to Reproduce the Problem/Current behavior

1. Step 1
1. Step 2
1. Step 3

## (Optional) Additional notes and links

[2020-12-06 14:29] jphelps413 opened #129 "adding publish-please to dependencies seems to be causing downstream problems"
## Expected/Desired Behavior

Should be able to run npm-check-updates with having publish-please kick in

Fill with either one:

It seems that the addition of publish-please to the dependencies is now causing our downstream repositories to have publish-please foisted upon them. Locking cli-table to v0.3.1 avoids the problem, but that's not ideal.

1. Expected behavior for bugs
1. Desired behavior

[2020-12-06 14:35] PeledYuval commented on #129
+1
This happens for us too. All builds are failing.

I don't understand why "publish-please" is a dependency and not a devDependency for this package, am I missing something?

[2020-12-06 14:45] PeledYuval commented on #129
Here's a PR that fixes this:
https://github.com/Automattic/cli-table/pull/130

[2020-12-06 15:09] joamag commented on #129
I'm also having issues with builds related to the fact that publish-please is being included as a dependency

[2020-12-06 15:29] atao60 commented on #129
+1
Break down @webpack-cli/init@1.0.3 (published one month ago!)

[2020-12-06 15:39] jrstnly commented on #129
+1
Breaks firebase-tools installation

[2020-12-06 15:53] jphelps413 commented on #129
While we're on the subject, should the babel dependencies also be moved into devDependencies?

[2020-12-06 16:05] thanhtoan1196 commented on #129
I got an error while using `semantic-release`
[code]

[2020-12-06 16:52] chrean commented on #129
Sorry about this and thanks for the PR, #130 merged and new release pushed out. My bad.

[2020-12-06 16:52] #129 closed

[2020-12-06 16:58] chrean commented on #128
Hy @ycjcl868 ,

we have just released a hotfix to support Node 10+. That should fix your issue.

[2020-12-06 16:58] #128 closed

[2020-12-06 17:11] chrean commented on #129
FYI v0.3.2 has been deprecated on npm. I suggest bumping to 0.3.4 which also reverts Node support to 10+ (was 12+).

[2020-12-06 17:16] chrean opened #131 "Update chalk"
## Expected/Desired Behavior

`chalk` dependency should be up-to-date. Current version is 4+.
Need to double-check for breaking changes, ideally would be great if we could make sure tests would catch those.

## Actual Behavior

We are using an ancient (3 years old) 2.4.1+ version.

[2020-12-07 22:06] #72 closed

[2020-12-07 22:11] #79 closed

[2020-12-07 22:11] chrean commented on #69
Well a new version has been published, so closing this one. :)

[2020-12-07 22:11] #69 closed

[2020-12-07 22:19] #60 closed

[2020-12-07 22:21] chrean commented on #65
Better late than ever, maybe, but a new version has just been released.

[2020-12-07 22:21] #65 closed

[2020-12-07 22:22] chrean commented on #93
New release includes the License.

[2020-12-07 22:22] #93 closed

[2020-12-07 22:38] #131 closed

[2020-12-07 23:15] chrean commented on #117
Hey @ChristianGrieger , I am a bit late but it would help a lot if you could share the code to reproduce the issue. Closing this one as it's very old, please feel free to submit a new issue if you are still stuck and you still need help. :)

[2020-12-07 23:15] #117 closed

[2020-12-07 23:15] chrean commented on #112
Not a prio right now, closing.

[2020-12-07 23:15] #112 closed

[2020-12-07 23:23] #26 closed

[2020-12-07 23:24] chrean commented on #8
This was fixed in #9 which had been merged and released. Closing.

[2020-12-07 23:24] #8 closed

[2021-02-18 20:41] ljharb opened #140 "Breaking change in non-major version"
v0.3.1 specified an engines of `{ node: '>= 0.2.0' }`.

v0.3.2 specified an engines of `{ node: '>= 12.13.0' }`, which is a semver-major change, and thus should have been v0.4.0.

v0.3.4 specifies an engines of `{ node: '>= 10.0.0' }`, which reduces the breakage from v0.3.2, but does not revert back to node v0.2.0.

This breaks my `ls-engines` package.

Please revert all the changes post v0.3.1 an

[2021-02-18 20:42] ljharb commented on #128
This doesn't fix it, since v0.3.1 works on node v0.2.0 and greater. See #140.

[2021-02-18 23:39] chrean commented on #128
@ljharb should be fixed via #140 , let me know if that's not the case.

[2021-02-18 23:47] ljharb commented on #140
Thank you!!

[2021-03-11 14:27] ready-research opened #141 "Prototype Pollution"
Hi @chrean @rauchg I have opened a PR which will fix the security issue Prototype Pollution. Please have a look at it. If you are fine with it please comment `@huntr-helper - LGTM`
If you need any changes please comment on this PR. Thanks.
Ref: https://github.com/418sec/cli-table/pull/1

[2021-03-12 10:37] chrean commented on #141
Hi @ready-research , woiuld be helpful if you could create a PR against this repo instead of your personal fork, please.
Thanks for the contribution!

[2021-03-12 12:15] ready-research commented on #141
Hi @chrean, Thanks for the quick response.

Can you please comment on https://github.com/418sec/cli-table/pull/1 with `@huntr-helper - LGTM`, it will automatically open a PR in this repository to merge. It's a process in huntr, instead of opening a direct PR in the repository, we will ask maintainers to discuss whether they are fine with it or need any changes(to reducing the mess in the original

[2021-04-10 16:26] blujedis commented on #123
@chrean give me a little bit and I'll do the PR for the types if no one has done it. Couple other bugs that could use some love but for simple tables for help menus etc this is just great. Other tables including own are bloated to death. The problem with the @types is the options interface isn't exported total deal breaker but I'm sure you already get that :)

[2021-07-22 15:19] ready-research commented on #141
Closing this with https://github.com/Automattic/cli-table/pull/142

[2021-07-22 15:19] #141 closed

[2021-07-27 14:52] yakesho commented on #123
Any updates on this? I can submit a PR if you like. I can also port this for [Deno](https://deno.land/ 'Deno') if you like. Porting might take sometimes but for the TS, I can finish it this week

[2021-07-28 07:12] chrean commented on #123
@yakesho a PR would be great, thank you! :)

[2021-07-28 07:16] #122 closed

[2021-07-28 07:19] chrean commented on #119
Example runs correctly in any npm environment. Not sure how Runkit interprets code, nor how we would be supposed to debug thisl.

[2021-07-28 07:19] #119 closed

[2021-07-28 07:20] #21 closed

[2021-07-28 07:20] #30 closed

[2021-07-28 07:20] #35 closed

[2021-07-28 07:20] #38 closed

[2021-07-28 07:20] #39 closed

[2021-07-28 07:20] #41 closed

[2021-07-28 07:20] #43 closed

[2021-07-28 07:20] #44 closed

[2021-07-28 07:20] #51 closed

[2021-07-28 07:20] #52 closed

[2021-07-28 07:20] #58 closed

[2021-07-28 07:20] #62 closed

[2021-07-28 07:20] #64 closed

[2021-07-28 07:20] #66 closed

[2021-07-28 07:20] #76 closed

[2021-07-28 07:20] #77 closed

[2021-07-28 07:20] #78 closed

[2021-07-28 07:20] #81 closed

[2021-07-28 07:20] #82 closed

[2021-07-28 07:20] #89 closed

[2021-07-28 07:20] #94 closed

[2021-07-28 07:20] #108 closed

[2021-07-28 07:20] #118 closed

[2021-07-28 07:24] #2 closed

[2021-07-28 07:24] #10 closed

[2021-07-28 11:57] yakesho commented on #123
@chrean The project seems to use old JavaScript syntax. Mind if I change it and use ES6 syntax? (e.g. `class`, `const`, etc...)

[2021-07-28 15:10] chrean commented on #123
That's quite a task but much appreciated if you like to contribute!

[2021-07-28 15:58] yakesho commented on #123
One more thing, `expresso` seems unmaintained. Mind if I use a newer and maintained test framework (like `mocha` or `jest`). Other than that, I am already working on the project (just to let you know)

[2021-07-28 17:04] chrean commented on #123
Switching to `jest` was in my plans but then I got caught away with other stuff, so that'd be great.

[2021-08-12 00:07] Mr-Wallet opened #146 "`colors` package update would improve webpack compatibility"
I'm trying to include this module in a project with webpack, which tries to gather up code into discrete bundles. It can't do this if it can't figure out where a `require` is likely to lead.

Older versions of `colors` included a `setTheme` method that took an arbitrary string and then tried to `require` that string directly, i.e. literally anything could possibly be required from literally anywhe

[2021-09-23 19:10] msabramo opened #147 "Width calculations are off when table contains terminal hyperlink control characters"
Using this code:

[code]

The output is:

[code]

As you can see, the table rendering is messed up for the column with hyperlinks.

[2021-09-23 19:16] msabramo commented on #147
If there is a way that I can hint what the actual width of the data is or provide the naked string, that would be very useful.

[2021-09-24 15:25] msabramo commented on #147
As a data point, I noticed that https://github.com/oclif/cli-ux#clitable doesn't seem to have this problem.

[code]

Running this yields:

[code]

![Screen Shot 2021-09-24 at 8 24 29 AM](https://user-images.githubusercontent.com/305268/134700462-931f93cd-cef2-47e1-8398-91bb21815304.png)

[2021-09-24 15:35] msabramo commented on #147
I think the magic that makes https://github.com/oclif/cli-ux#clitable work for these links is:

https://www.npmjs.com/package/string-width

[2021-09-24 15:43] msabramo opened #148 "`node examples/revs.js` gives errors"
[code]

It looks lie maybe the headless tables aren't working? Because if I comment out the `headless_table` and `vertical_table` stuff, then the code runs without errors.

[2021-11-17 15:26] #147 closed

[2021-11-17 17:12] zloirock opened #152 "0.3.7 is broken"
After updating implicit `cli-table` dependency from `0.3.6` that works fine to `0.3.7`, I have:

![image](https://user-images.githubusercontent.com/2213682/142248333-a7b16cff-e1c9-4420-84f6-a099aee36d78.png)

How to reproduce it - copy https://github.com/zloirock/core-js/tree/1aaa9b1144b444e9fa1376e2f1d72c34fb99b83e and run `npm run r`.

[2021-11-17 17:24] zloirock commented on #152
https://github.com/zloirock/core-js/runs/4240992349?check_suite_focus=true

[2021-11-17 17:25] DavidOStewart opened #153 "0.3.7 crashes when creating tables without options"
https://github.com/Automattic/cli-table/blob/master/lib/index.js#L51

`if (options.rows)` throws when options is undefined, which happens occurs when creating a table with an empty constructor:

 `const table = new Table()`.

Pin version to 0.3.6 to retain original functionality.

[2021-11-17 18:24] phess101 commented on #153
Thanks for this! I just stumbled across this error as well! I created a PR to resolve it https://github.com/Automattic/cli-table/pull/154

[2021-11-17 22:49] dguettler opened #156 "0.3.7 node version"
Hi, is there a reason to restrict node to >= 12.

Looks like ember-cli has cli-table as a dependency of dependencies and it's trying to install the latest version. However the ember-cli version in use uses node 10. Therefor installing cli-table is failing.
So I'm wondering if that requirement could be changed.

Thank you

[2021-11-18 02:19] dmeeks91 commented on #152
Can confirm that I am seeing the same error.

[2021-11-18 02:31] dmeeks91 commented on #152
Can confirm that I am seeing the same error.

[This line](https://github.com/Automattic/cli-table/blob/616f9f022c317cc8c5834a8b4be612367a533009/lib/utils.js#L85) will throw an error if typeof `stripped` != "string" Looks like PR #149 introduced a scenario where this scenario is false.

I haven't studied the code enough to determine if the preferred solution is to type check in the [strlen](https:/

[2021-11-18 02:46] dmeeks91 commented on #152
Can confirm that I am seeing the same error.

[This line](https://github.com/Automattic/cli-table/blob/616f9f022c317cc8c5834a8b4be612367a533009/lib/utils.js#L85) will throw an error if `typeof stripped != "string" `
Looks like PR #149 introduced a scenario where this constraint is not met. I'm guessing this is when the bug was introduced.

I haven't studied the code enough to determine if the pref

[2021-11-18 02:54] dwolverton commented on #153
+1 This is should be high priority. Firebase CLI uses this with undefined options, and it entirely prevents the emulator (pretty much used for any development with Firebase) from starting.

The error looks like this, for those searching...
[code]

[2021-11-18 05:48] NicholasNoise commented on #156
Please unlist 0.3.7 version.

[2021-11-18 11:50] pomek commented on #152
I face the same issue. In my case, I decided to cast all numbers I pass into the table to strings. It helped.

[2021-11-18 19:59] adrianosmond opened #157 "Breaking change to utils.strlen in 0.3.7"
Previous to 0.3.7 utils.strlen converted anything passed into it into a string while stripping it via
`var stripped = ("" + str).replace(code,'');`

As of 0.3.7, str is passed directly to stripAnsi:
`var stripped = stripAnsi(str);`

This means that anything that isn't a string is being passed into it it now breaks in a way that it didn't in 0.3.6. I came across this because [@lingui/cli is passing

[2021-11-18 20:00] adrianosmond commented on #157
Apologies. This is a duplicate of https://github.com/Automattic/cli-table/issues/152. I'm closing it.

[2021-11-18 20:00] #157 closed

[2021-11-18 20:05] adrianosmond commented on #152
`var stripped = ("" + str).replace(code,'');`
was changed to
`var stripped = stripAnsi(str);`

so numbers aren't getting converted to strings before stripping them. Maybe
`var stripped = stripAnsi("" + str);`
would be a friendlier, more backwards compatible approach?

[2021-11-18 23:16] dreinert1994 commented on #152
This problem is currently crashing my build pipeline as it is a dependency of a dependency for us. I put a PR to try and resolve the issue, hoping to get it reviewed and merged ASAP

[2021-11-23 15:22] josantana commented on #156
It should not be a patch/minor. Please unlist 0.3.8 and 0.3.7.

[2021-11-23 23:21] #152 closed

[2021-11-23 23:22] #153 closed

[2021-11-23 23:22] #156 closed

[2021-12-06 07:04] ljharb opened #160 "v0.3.7 has a breaking change"
v0.3.7 has a breaking change - it adds strip-ansi v6, which breaks support for node < 12.

This should have been v0.4.0 instead, since v0.3.6 declares an `engines` of `{ node: '>= 0.2.0' }`. Also, changing "engines" to make previously valid things invalid is also a breaking change, which v0.3.7 did as well.

Can you please publish a v0.3.x version that reverts that change, and then feel free to re

[2021-12-06 07:07] ljharb commented on #152
See #160 - any inclusion of `strip-ansi` v6 is a breaking change, because it drops support for node < 12, and the v0.3 line claims support for node 0.2+.

[2021-12-06 07:58] chrean commented on #160
I guess we won't make any further changes to 0.3.x line. Node and packages it supports are too old and discontinued, and so should 0.3.x be marked as: old and discontinued.

[2021-12-06 08:03] ljharb commented on #160
That’s a reasonable position to take, but v0.3.7 still need to be capped off with a v0.3 release that restores old node support.

[2021-12-06 08:04] ljharb commented on #160
A perhaps easy alternative is republishing v0.3.6 as v0.3.latest, and then publishing the actual latest as v0.4.0?

[2021-12-06 08:07] chrean commented on #160
That's exactly what I am doing.
Making any changes on top of 0.3.6 is causing lots of issues and it is not worth all the hassle.
It is simply not realistic, add features or fixes based on newer versions of Node and/or dependencies to the 0.3x line, which supports ancient releases.

[2021-12-06 08:59] chrean commented on #160
Released v0.3.10 which reverts all changes to v0.3.6.
All future changes will go into 0.4.x series.

[2021-12-06 08:59] #160 closed

[2021-12-06 09:41] michaelarnauts commented on #160
@chrean thanks for looking into this.
However, it seems v0.3.10 still shows a dependancy on strip-ansi, pinning to v0.3.6 works.

[code]

[2021-12-06 15:21] ljharb commented on #160
https://unpkg.com/cli-table@0.3.10/package.json seems like it should work fine; I’ll revert the pinning in https://github.com/tbranyen/salita/commit/68abf80fb8ac1aed0925af05122325fcda67c60f and confirm.

@michaelarnauts that error comes from “bnpmlint”, which seems like something you alone are running?

[2021-12-06 15:34] chrean commented on #160
@michaelarnauts is right.
There is a stale `require` to `strip-ansi`.

Going to fix it.
Yes, today it's one of those days. Sorry about this, folks.

[2021-12-06 15:42] chrean commented on #160
0.3.11 is out, I have deleted all references to `strip-ansi`. 🙇

[2021-12-06 18:00] michaelarnauts commented on #160
No worries, you are doing awesome work!

[2022-01-05 14:50] LucasB25 opened #165 "I have a little visibility problem"
![image](https://user-images.githubusercontent.com/50886682/148237539-3f25af7b-2439-4398-9b46-97966d78b488.png)

[2022-01-05 14:51] #165 closed, assigned to nobody

[2022-01-10 11:36] schuerg commented on #146
Do not update `colors` npmjs package to `>=1.4.1`.

See https://security.snyk.io/vuln/SNYK-JS-COLORS-2331906

[2022-01-10 17:23] csvan opened #167 "colors package is corrupted"
The `colors` package was recently fatally corrupted by its owner (see https://github.com/Marak/colors.js/issues/285), and the only remedy is to lock it to version `1.4.0`. Since this project is used in several other major projects it would be very helpful to help mitigate further damage.

[2022-01-24 12:58] thanpolas opened #168 "Consider adding documentation of the package"
Please consider adding documentation of all the options and their values for this package.

[2022-03-02 14:05] lannonbr commented on #167
PR #169 would resolve this as David Hyde has stepped up to help maintain Colors going forward and is looking to also add more collaborators to the project so this doesn't happen again.

[2022-03-23 12:39] arve0 opened #171 "emoji gives wrong padding"
I expected emojies to work, but ✅ for example gets extra padding:

[code]

Same result in Mac Terminal, VSCode terminal and iTerm.

Example code:

[code]

[2022-03-24 04:25] DABH commented on #146
This issue could be closed in favor of #167, which has effectively the same solution (https://github.com/Automattic/cli-table/pull/169) cc @chrean

[2022-05-27 08:08] lionel-lbr opened #172 "colAlign value to center text is "middle" and not "center""
use colAligns: ['middle'] to center text, although documentation mention "center"

[2022-09-06 20:20] antonilol commented on #123
i have just [updated](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62135) ~(not merged yet)~ `@types/cli-table`. i will also add them here but i expect that a pr to DefinitelyTyped gets merged faster :)

EDIT: merged now

[2022-09-13 00:43] andrewmartin opened #174 "Output to file?"
Is it possible to use `fs.writeFileSync` to cleanly output the contents as a file and omit the colors values? I dug around and couldn't find anything, just curious.

[2022-11-17 02:58] zengqingzhuang opened #175 "Chinese causes table overflow"
<img width="590" alt="image" src="https://user-images.githubusercontent.com/12510482/202343964-f5dc5948-5caf-48a6-beec-7656a2519f29.png">